[Desktop Entry]
Name=yavide
GenericName=IDE
Comment=Integrated Development Environment for C/C++
TryExec=gvim
Exec=gvim -f %F -N -u /opt/yavide/.vimrc
Terminal=false
Type=Application
Icon=vim
Categories=Development;IDE;
StartupNotify=true
MimeType=text/plain;
