[Desktop Entry]
Name=yavide
GenericName=Text Editor
Comment=Edit text files
TryExec=gvim
Exec=gvim -f %F -u /opt/yavide/.vimrc
Terminal=false
Type=Application
Icon=vim
Categories=Utility;TextEditor;
StartupNotify=true
MimeType=text/plain;
