[Desktop Entry]
Name=yavide
GenericName=IDE
Comment=Integrated Development Environment for C/C++
TryExec=gvim
Exec=gvim --servername yavide -f -N
Terminal=false
Type=Application
Icon=vim
Categories=Development;IDE;
StartupNotify=true
MimeType=text/plain;
